*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}
/* nav bar */
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
/* nav menu list */
#menu{
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: space-between;
}
/* nav menu list anchor */
#menu a{
    text-decoration: none;
    color: black;
    font-family: "inter";
    font-weight: 500;
}
/* nav button */
nav button{
    background-color: #30B868;
    color: white;
    font-weight: 500;
    width: 164px;
    height: 44px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.342);
}
nav button:hover{
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.774);
}
/* hero container */
.hero{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 179.5px 120px 179.5px 120px; 
    color: white;
    text-align: center;
}
/* Early Access Banner */
.small-banner{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    /* fix padding alignment to circle */
    padding: 8px 12px;
    background-color: white ;
    color: #30B868;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
}
/* Hero Title */
.hero-title span{
    display: block;
    font-size: 72px;
    font-weight: bold;
}
/* Hero Title line 2 */
#hero-title-line2{
    color: #30B868;
}
/* hero paragraph */
.hero-p span{
    display: block;
    margin: 16px;
}
/* Hero Button */
.hero-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
/* Green Button */
#hero-btn1{
    display: flex;
    height: 52px;
    background-color: #30B868;
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    border: 0 ;
    border-radius: 4px;
    gap: 10px;
    padding: 10px 16px;
}
/* Transparent Button */
#hero-btn2{
    display: flex;
    height: 52px;
    background: transparent;
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
     border: 1px solid #ffffff;
    border-radius: 4px;
    gap: 10px;
    padding: 10px 16px;
}

/* Section Note */
.note{
    text-align: center;
}
/* note title */
.note-title{
    margin-top: 52px;
}
.note-title h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.note-title p{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}
/* note card */
.note-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px;
    gap: 16px;
    padding: 70px;
}
.note-card h4{
    margin: 16px;
}
.note-card p{
    color: #627382;
    font-size: 16px;
    margin: 16px;
}
.icon{
    background-color: #f95555;
    border-radius: 999px;
    padding: 13.6px;
}

/* section brain */
.brain{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    padding: 120px;
}

#green-p{
    color: #30B868;
}

.brain-content h1{
    font-size: 48px;
    margin-top: 16px;
}
#gray-p{
    color: #627382;
    margin-top: 16px;
}

.brain-points{
    margin-top: 40px;
}
.brain-points p{
    margin-top: 16px;
}
.brain-points img{
    vertical-align: middle;
}

/* section early access */
.eas{
    text-align: center;
    margin: 120px;
}

.eas h1{
    font-size: 40px;
}

.eas p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

.eas button{
    display: flex;
    background-color: #30B868;
    border: 0;
    color: white;
    padding: 16px;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.342);
}
.eas button:hover {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.774);
}
#eas-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

